* {
  border: 0;
  margin: 0;
}

.card {
  background-color: black;
  border-radius: 12px;
  margin: 10px;
  color: white;
  text-align: center;
  min-height: 150px;
  max-width: 250px;
  width: 200px;
}

button {
  background-color: bisque;
  font-size: 20px;
  border-radius: 5px;
  color: blue;
  width: 100px;
}

h2 {
  font-size: 20px;
  color: white;
  background-color: rgb(47, 46, 46);
  border-radius: 12px 12px 0 0;
  min-height: 40px;
}

h3 {
  background-color: gray;
  color: white;
  min-height: 50px;
}

footer {
  text-align: center;
  /* padding: 20px; */
  /* display: flex; */
  align-items: center;
  /* width: ; */

  /* margin: 20px; */
  /* border: 20px; */
  /* minor change */
  grid-area: footer;
}

body {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  height: 100vh;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

header {
  grid-area: header;
  color: white;
  background-color: rgb(47, 46, 46);
  font-size: 30px;
  text-align: center;
  /* min-height: 50px; */
}

main {
  display: flex;
  justify-content: center;
  grid-area: main;
}

@media screen and (min-width: 400px) {
  main {
    flex-flow: row wrap;
  }

  .card {
    /* background-color: black;
        border-radius: 12px;
        margin: 10px;
        color: white;
        text-align: center;
        min-height: 150px; */
    /* display: flex; */
    width: 400px;
  }
}
